<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="/static/images/flask.svg">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- Custom CSS -->
    
</head>

{% block customCSS %}
<!-- Estilos personalizados para el formulario de registro -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

{% endblock %}
        
     
<body class="text-center">
    <form class="form-signin" action="/register" method="POST">
            <img class="mb-6" src="{{ url_for('static', filename='images/icon2.png') }}" alt="" width="100" height="60">

        <div class="row">
            <button><a class="button" href="javascript:history.back()" class="btn-primary btn-lg">Volver<</a></button>
    </div>
    <h1 class="h3 mb-3 fw-normal">Registro</h1>


    <!-- Campo de username -->
    <div class="form-floating mt-3">
        <input type="text" class="form-control" id="username" name="username" placeholder="Username" autocomplete="username" required>
        <label for="username">Username</label>
    </div>

    <!-- Campo de fullname -->
    <div class="form-floating mt-2">
        <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Full Name" autocomplete="name">
        <label for="fullname">Nombre - Nombre Inmobiliaria</label>
    </div>
   
    <div class="form-floating mt-2">     
        <input type="email" class="form-control" name="correo" id="correo" placeholder="Email" required>
        <label for="correo">Correo:</label>
    </div>    

    <div class="form-floating mt-2">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" autocomplete="new-password" required>
        <label for="password">Contrasena</label>
    </div>
    

    <!-- Confirmar password -->
    <div class="form-floating mt-2">
        <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password" autocomplete="new-password" required>
        <label for="confirm_password">Confirmar Contrasena</label>
    </div>

    <button id="registrar" class="w-100 btn btn-lg btn-primary mt-3" type="submit">Registrarse</button>
    <p> Cuenta Existente:<a href="/login">Ingresar aqui</a></p>

</form>
 <!--<script>
    document.addEventListener('DOMContentLoaded', function () {
    var validar =  document.getElementById('registrar');  
    var fullname = document.getElementById('fullname').value.trim();
    
    var regex = /^([A-Za-z\s-]+) - ([A-Za-z\s-]+)$/;
    var match = fullname.match(regex);

    validar.addEventListener('submit', function(){
    if (!match) {
        alert('Ingrese el nombre de su inmobiliaria! "- Nombre Inmobiliaria".');
        event.preventDefault();
    } else {
        // Obtener el segundo grupo de regex que es el nombrepublisher
        var nombrepublisher = match[2].trim();
        var hiddenInput = document.createElement('input');
        hiddenInput.type = 'hidden';
        hiddenInput.name = 'nombrepublisher';
        hiddenInput.value = nombrepublisher;
        this.appendChild(hiddenInput);
    } });
    });
</script> -->


<!--1
from models.entities.User import User

class ModelUser:
    
    @classmethod
    def login(self, db, user):
        try:
            cursor = db.connection.cursor()
            sql = """SELECT id, username, password, fullname FROM user 
                    WHERE username = '{}'""".format(user.username)
            cursor.execute(sql)
            row = cursor.fetchone()
            if row != None:
                user = User(row[0], row[1], User.check_password(row[2], user.password), row[3])
                return user
            else:
                return None
        except Exception as ex:
            raise Exception(ex)

    @classmethod
    def get_by_id(self, db, id):
        try:
            cursor = db.connection.cursor()
            sql = "SELECT id, username, fullname FROM user WHERE id = {}".format(id)
            cursor.execute(sql)
            row = cursor.fetchone()
            if row != None:
                return User(row[0], row[1], None, row[2])
            else:
                return None
        except Exception as ex:
            raise Exception(ex)

    @staticmethod
    def register(db, user):
        cursor = db.connection.cursor()
        try:
            cursor.execute("INSERT INTO user (username, password, fullname) VALUES (%s, %s, %s)",
                           (user.username, user.password, user.fullname))
            db.connection.commit()
            return True
        except Exception as e:
            print(f"Error while registering user: {e}")
            db.connection.rollback()
            return False
        finally:
            cursor.close()

from werkzeug.security import generate_password_hash, check_password_hash
from flask_login import UserMixin



   -->